In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\CDAC\ML\data\Employee_Attrition.csv")

In [4]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [3]:
df["Attrition"].unique()

array(['Yes', 'No'], dtype=object)

In [5]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [6]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [8]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [9]:
X=df.drop('Attrition',axis=1)
Y=df['Attrition']

In [10]:
X.shape,Y.shape

((1470, 34), (1470,))

In [11]:
Y.isna().sum()

np.int64(0)

In [12]:
X.nunique()

Age                           43
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [13]:
X.drop(['StandardHours',"EmployeeCount","Over18"],axis=1,inplace=True)

In [14]:
X.shape

(1470, 31)

In [15]:
X.drop_duplicates(inplace=True)

In [16]:
X.shape

(1470, 31)

# Handle / Encode String Columns
#### String columns are of Object type hence need to be converted using label encoding or one hot encoding

Label Encoding
-First create a label map( dictionary)
-replace values in original column

In [17]:
label_map={'Travel_Rarely':1,'Travel_Frequently':2,'Non-Travel':0}

In [18]:
X['BusinessTravel']=X['BusinessTravel'].map(label_map)

In [19]:
X['BusinessTravel'].unique()

array([1, 2, 0])

In [20]:
X.shape

(1470, 31)

# One Hot Encoding
Use pd.get_dummies() function

X.shape

In [21]:
X_ohe = pd.get_dummies(X)

In [22]:
X_ohe.shape

(1470, 50)

# Fill Missing Values
fillna --> median

In [23]:
X_ohe.fillna(X_ohe.median(),inplace=True)

## Normalize/ Standardize the Data

In [24]:
X_ohe = (X_ohe - X_ohe.mean())/X_ohe.std()

In [25]:
X_ohe.describe()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
count,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,...,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03
mean,-3.746059e-17,-1.377583e-16,4.350262e-17,7.250436e-17,4.833624e-18,-1.546760e-16,1.963660e-16,1.836777e-16,9.183886e-17,-2.175131e-17,...,-2.416812e-18,2.658493e-17,-6.887914e-17,-3.625218e-17,-2.416812e-18,-2.900174e-17,1.280910e-16,-2.658493e-17,1.933450e-17,-1.933450e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-2.071487e+00,-2.041443e+00,-1.735985e+00,-1.010565e+00,-1.867790e+00,-1.700704e+00,-1.575150e+00,-1.765478e+00,-2.431178e+00,-9.611593e-01,...,-3.306955e-01,-2.398224e-01,-4.977039e-01,-5.336396e-01,-2.445418e-01,-5.346911e-01,-9.186088e-01,-6.853322e-01,-1.591204e+00,-6.280274e-01
25%,-7.579120e-01,-1.623439e-01,-8.363770e-01,-8.872132e-01,-8.913849e-01,-8.863683e-01,-6.603060e-01,-8.800620e-01,-1.025818e+00,-9.611593e-01,...,-3.306955e-01,-2.398224e-01,-4.977039e-01,-5.336396e-01,-2.445418e-01,-5.346911e-01,-9.186088e-01,-6.853322e-01,-1.591204e+00,-6.280274e-01
50%,-1.011244e-01,-1.623439e-01,-1.203726e-03,-2.704519e-01,8.502032e-02,-7.251046e-03,2.545383e-01,5.353989e-03,3.795430e-01,-5.776789e-02,...,-3.306955e-01,-2.398224e-01,-4.977039e-01,-5.336396e-01,-2.445418e-01,-5.346911e-01,-9.186088e-01,-6.853322e-01,6.280274e-01,-6.280274e-01
75%,6.651278e-01,-1.623439e-01,8.785782e-01,5.930139e-01,1.061426e+00,8.818326e-01,1.169383e+00,8.784725e-01,3.795430e-01,8.456235e-01,...,-3.306955e-01,-2.398224e-01,-4.977039e-01,-5.336396e-01,-2.445418e-01,-5.346911e-01,1.087862e+00,1.458154e+00,6.280274e-01,1.591204e+00
max,2.526026e+00,1.716755e+00,1.726143e+00,2.443298e+00,2.037831e+00,1.732712e+00,1.169383e+00,1.677806e+00,1.784904e+00,2.652406e+00,...,3.021873e+00,4.166915e+00,2.007860e+00,1.872649e+00,4.086499e+00,1.868966e+00,1.087862e+00,1.458154e+00,6.280274e-01,1.591204e+00

# Transform the target

In [26]:
Y.unique()

array(['Yes', 'No'], dtype=object)

In [27]:
Y= Y.map({'Yes':1,'No':0})

# Hierrarchical Clustering


import matplotlib.pyplot as plt
import scipy.cluster.hierarchy as shc

plt.figure(figsize=(10,7))
plt.title("Dendrograms")
dend = shc.dendrogram(shc.linkage(X_ohe.iloc[:500,:],method='ward'))
plt.axhline(y=50,color='r',linestyle='--')

from sklearn.cluster import AgglomerativeClustering

ac = AgglomerativeClustering(2)

ac.fit(X_train.iloc[:500,:])

# Outlier Detection and Handling

In [28]:
#Detect Outliers using Z-score
#For each column in X_ohe print number of rows where value is <-3 or >+3

In [29]:
import numpy as np
# mean_X=np.mean(X_ohe,axis=1)
# std_X=np.std(X_ohe,axis=1)
# mean_X,std_X
# z_score=(X_ohe-mean_X)/std_X
# print(z_score)
for col in X_ohe.columns:
    outlier_count=X_ohe.loc[(X_ohe[col]<-3) | (X_ohe[col]>3),col].count()
    print(col,outlier_count)

Age 0
BusinessTravel 0
DailyRate 0
DistanceFromHome 0
Education 0
EmployeeNumber 0
EnvironmentSatisfaction 0
HourlyRate 0
JobInvolvement 0
JobLevel 0
JobSatisfaction 0
MonthlyIncome 0
MonthlyRate 0
NumCompaniesWorked 0
PercentSalaryHike 0
PerformanceRating 0
RelationshipSatisfaction 0
StockOptionLevel 0
TotalWorkingYears 16
TrainingTimesLastYear 0
WorkLifeBalance 0
YearsAtCompany 25
YearsInCurrentRole 13
YearsSinceLastPromotion 42
YearsWithCurrManager 14
Department_Human Resources 63
Department_Research & Development 0
Department_Sales 0
EducationField_Human Resources 27
EducationField_Life Sciences 0
EducationField_Marketing 0
EducationField_Medical 0
EducationField_Other 82
EducationField_Technical Degree 132
Gender_Female 0
Gender_Male 0
JobRole_Healthcare Representative 131
JobRole_Human Resources 52
JobRole_Laboratory Technician 0
JobRole_Manager 102
JobRole_Manufacturing Director 145
JobRole_Research Director 80
JobRole_Research Scientist 0
JobRole_Sales Executive 0
JobRole_Sales Representative 83
MaritalStatus_Divorced 0
MaritalStatus_Married 0
MaritalStatus_Single 0
OverTime_No 0
OverTime_Yes 0

In [30]:
# For every column remove all outliers <-3 and >+3
X_ohe_clean=X_ohe.copy()
for col in X_ohe_clean.columns:
    print("Shape before dropping outliers",X_ohe_clean.shape)
    X_ohe_clean = X_ohe_clean.loc[ (X_ohe_clean[col]>=-3) & (X_ohe_clean[col]<=3) , : ]
    print("Shape after dropping outliers",X_ohe_clean.shape)

Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1454, 50)
Shape before dropping outliers (1454, 50)
Shape after dropping outliers (1454, 50)
Shape before dropping outliers (1454, 50)
Shape after dropping outliers (1454, 50)
Shape before dropping outliers (1454, 50)
Shape after dropping outliers (1434, 50)
Shape before dropping outliers (1434, 50)
Shape after dropping outliers (1422, 50)
Shape before dropping outliers (1422, 50)
Shape after dropping outliers (1393, 50)
Shape before dropping outliers (1393, 50)
Shape after dropping outliers (1387, 50)
Shape before dropping outliers (1387, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1329, 50)
Shape before dropping outliers (1329, 50)
Shape after dropping outliers (1253, 50)
Shape before dropping outliers (1253, 50)
Shape after dropping outliers (1130, 50)
Shape before dropping outliers (1130, 50)
Shape after dropping outliers (1130, 50)
Shape before dropping outliers (1130, 50)
Shape after dropping outliers (1130, 50)
Shape before dropping outliers (1130, 50)
Shape after dropping outliers (1030, 50)
Shape before dropping outliers (1030, 50)
Shape after dropping outliers (1030, 50)
Shape before dropping outliers (1030, 50)
Shape after dropping outliers (1030, 50)
Shape before dropping outliers (1030, 50)
Shape after dropping outliers (975, 50)
Shape before dropping outliers (975, 50)
Shape after dropping outliers (856, 50)
Shape before dropping outliers (856, 50)
Shape after dropping outliers (800, 50)
Shape before dropping outliers (800, 50)
Shape after dropping outliers (800, 50)
Shape before dropping outliers (800, 50)
Shape after dropping outliers (800, 50)
Shape before dropping outliers (800, 50)
Shape after dropping outliers (732, 50)
Shape before dropping outliers (732, 50)
Shape after dropping outliers (732, 50)
Shape before dropping outliers (732, 50)
Shape after dropping outliers (732, 50)
Shape before dropping outliers (732, 50)
Shape after dropping outliers (732, 50)
Shape before dropping outliers (732, 50)
Shape after dropping outliers (732, 50)
Shape before dropping outliers (732, 50)
Shape after dropping outliers (732, 50)

In [31]:
# Impute the outliers
# For every column replace outliers <-3 and >+3 with valid values -3 or +3

X_ohe_clean = X_ohe.copy()
for col in X_ohe_clean.columns:
    X_ohe_clean.loc[ (X_ohe_clean[col] <-3 ),col]=-3
    X_ohe_clean.loc[ (X_ohe_clean[col] > 3 ),col] =3

In [32]:
X_min=X_ohe_clean.min() < -3
X_min

Age                                  False
BusinessTravel                       False
DailyRate                            False
DistanceFromHome                     False
Education                            False
EmployeeNumber                       False
EnvironmentSatisfaction              False
HourlyRate                           False
JobInvolvement                       False
JobLevel                             False
JobSatisfaction                      False
MonthlyIncome                        False
MonthlyRate                          False
NumCompaniesWorked                   False
PercentSalaryHike                    False
PerformanceRating                    False
RelationshipSatisfaction             False
StockOptionLevel                     False
TotalWorkingYears                    False
TrainingTimesLastYear                False
WorkLifeBalance                      False
YearsAtCompany                       False
YearsInCurrentRole                   False
YearsSinceLastPromotion              False
YearsWithCurrManager                 False
Department_Human Resources           False
Department_Research & Development    False
Department_Sales                     False
EducationField_Human Resources       False
EducationField_Life Sciences         False
EducationField_Marketing             False
EducationField_Medical               False
EducationField_Other                 False
EducationField_Technical Degree      False
Gender_Female                        False
Gender_Male                          False
JobRole_Healthcare Representative    False
JobRole_Human Resources              False
JobRole_Laboratory Technician        False
JobRole_Manager                      False
JobRole_Manufacturing Director       False
JobRole_Research Director            False
JobRole_Research Scientist           False
JobRole_Sales Executive              False
JobRole_Sales Representative         False
MaritalStatus_Divorced               False
MaritalStatus_Married                False
MaritalStatus_Single                 False
OverTime_No                          False
OverTime_Yes                         False
dtype: bool

In [33]:
X_ohe_clean.max() > 3

Age                                  False
BusinessTravel                       False
DailyRate                            False
DistanceFromHome                     False
Education                            False
EmployeeNumber                       False
EnvironmentSatisfaction              False
HourlyRate                           False
JobInvolvement                       False
JobLevel                             False
JobSatisfaction                      False
MonthlyIncome                        False
MonthlyRate                          False
NumCompaniesWorked                   False
PercentSalaryHike                    False
PerformanceRating                    False
RelationshipSatisfaction             False
StockOptionLevel                     False
TotalWorkingYears                    False
TrainingTimesLastYear                False
WorkLifeBalance                      False
YearsAtCompany                       False
YearsInCurrentRole                   False
YearsSinceLastPromotion              False
YearsWithCurrManager                 False
Department_Human Resources           False
Department_Research & Development    False
Department_Sales                     False
EducationField_Human Resources       False
EducationField_Life Sciences         False
EducationField_Marketing             False
EducationField_Medical               False
EducationField_Other                 False
EducationField_Technical Degree      False
Gender_Female                        False
Gender_Male                          False
JobRole_Healthcare Representative    False
JobRole_Human Resources              False
JobRole_Laboratory Technician        False
JobRole_Manager                      False
JobRole_Manufacturing Director       False
JobRole_Research Director            False
JobRole_Research Scientist           False
JobRole_Sales Executive              False
JobRole_Sales Representative         False
MaritalStatus_Divorced               False
MaritalStatus_Married                False
MaritalStatus_Single                 False
OverTime_No                          False
OverTime_Yes                         False
dtype: bool

# IQR Based Method for Outlier Handling

-Detect outliers using IQR method

In [34]:
# IQR Based Method for outlier Handling
# For each column in X_ohe , print number of rows where value is < min_valid_val and > max_valid_val
X_ohe_clean = X_ohe.copy()
for col in X_ohe_clean.columns:
    q1,q3 = X_ohe_clean[col].quantile([0.25,0.75])
    IQR = q3 - q1
    min_valid_val = q1 - 1.5*IQR
    max_valid_val = q3 + 1.5*IQR
    outlier_count = X_ohe_clean.loc[(X_ohe_clean[col]<min_valid_val) | (X_ohe_clean[col]>max_valid_val), col].count()
    print(col,outlier_count)

Age 0
BusinessTravel 427
DailyRate 0
DistanceFromHome 0
Education 0
EmployeeNumber 0
EnvironmentSatisfaction 0
HourlyRate 0
JobInvolvement 0
JobLevel 0
JobSatisfaction 0
MonthlyIncome 114
MonthlyRate 0
NumCompaniesWorked 52
PercentSalaryHike 0
PerformanceRating 226
RelationshipSatisfaction 0
StockOptionLevel 85
TotalWorkingYears 63
TrainingTimesLastYear 238
WorkLifeBalance 0
YearsAtCompany 104
YearsInCurrentRole 21
YearsSinceLastPromotion 107
YearsWithCurrManager 14
Department_Human Resources 63
Department_Research & Development 0
Department_Sales 0
EducationField_Human Resources 27
EducationField_Life Sciences 0
EducationField_Marketing 159
EducationField_Medical 0
EducationField_Other 82
EducationField_Technical Degree 132
Gender_Female 0
Gender_Male 0
JobRole_Healthcare Representative 131
JobRole_Human Resources 52
JobRole_Laboratory Technician 259
JobRole_Manager 102
JobRole_Manufacturing Director 145
JobRole_Research Director 80
JobRole_Research Scientist 292
JobRole_Sales Executive 326
JobRole_Sales Representative 83
MaritalStatus_Divorced 327
MaritalStatus_Married 0
MaritalStatus_Single 0
OverTime_No 0
OverTime_Yes 0

In [35]:
# Remove the outliers using IQR
X_ohe_clean=X_ohe.copy()
for col in X_ohe_clean.columns:
    q1,q3 = X_ohe_clean[col].quantile([0.25,0.75])
    IQR = q3 - q1
    min_valid_val = q1 - 1.5*IQR
    max_valid_val = q3 + 1.5*IQR
    print("Shape before dropping outliers",X_ohe_clean.shape)
    X_ohe_clean = X_ohe_clean.loc[ (X_ohe_clean[col]<=max_valid_val) & (X_ohe_clean[col]>=min_valid_val) , : ]
    print("Shape after dropping outliers",X_ohe_clean.shape)

Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1470, 50)
Shape before dropping outliers (1470, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (1043, 50)
Shape before dropping outliers (1043, 50)
Shape after dropping outliers (959, 50)
Shape before dropping outliers (959, 50)
Shape after dropping outliers (959, 50)
Shape before dropping outliers (959, 50)
Shape after dropping outliers (927, 50)
Shape before dropping outliers (927, 50)
Shape after dropping outliers (927, 50)
Shape before dropping outliers (927, 50)
Shape after dropping outliers (783, 50)
Shape before dropping outliers (783, 50)
Shape after dropping outliers (783, 50)
Shape before dropping outliers (783, 50)
Shape after dropping outliers (738, 50)
Shape before dropping outliers (738, 50)
Shape after dropping outliers (698, 50)
Shape before dropping outliers (698, 50)
Shape after dropping outliers (584, 50)
Shape before dropping outliers (584, 50)
Shape after dropping outliers (584, 50)
Shape before dropping outliers (584, 50)
Shape after dropping outliers (573, 50)
Shape before dropping outliers (573, 50)
Shape after dropping outliers (569, 50)
Shape before dropping outliers (569, 50)
Shape after dropping outliers (504, 50)
Shape before dropping outliers (504, 50)
Shape after dropping outliers (500, 50)
Shape before dropping outliers (500, 50)
Shape after dropping outliers (478, 50)
Shape before dropping outliers (478, 50)
Shape after dropping outliers (478, 50)
Shape before dropping outliers (478, 50)
Shape after dropping outliers (478, 50)
Shape before dropping outliers (478, 50)
Shape after dropping outliers (478, 50)
Shape before dropping outliers (478, 50)
Shape after dropping outliers (478, 50)
Shape before dropping outliers (478, 50)
Shape after dropping outliers (413, 50)
Shape before dropping outliers (413, 50)
Shape after dropping outliers (413, 50)
Shape before dropping outliers (413, 50)
Shape after dropping outliers (383, 50)
Shape before dropping outliers (383, 50)
Shape after dropping outliers (333, 50)
Shape before dropping outliers (333, 50)
Shape after dropping outliers (333, 50)
Shape before dropping outliers (333, 50)
Shape after dropping outliers (333, 50)
Shape before dropping outliers (333, 50)
Shape after dropping outliers (295, 50)
Shape before dropping outliers (295, 50)
Shape after dropping outliers (295, 50)
Shape before dropping outliers (295, 50)
Shape after dropping outliers (295, 50)
Shape before dropping outliers (295, 50)
Shape after dropping outliers (291, 50)
Shape before dropping outliers (291, 50)
Shape after dropping outliers (254, 50)
Shape before dropping outliers (254, 50)
Shape after dropping outliers (244, 50)
Shape before dropping outliers (244, 50)
Shape after dropping outliers (244, 50)
Shape before dropping outliers (244, 50)
Shape after dropping outliers (187, 50)
Shape before dropping outliers (187, 50)
Shape after dropping outliers (170, 50)
Shape before dropping outliers (170, 50)
Shape after dropping outliers (141, 50)
Shape before dropping outliers (141, 50)
Shape after dropping outliers (141, 50)
Shape before dropping outliers (141, 50)
Shape after dropping outliers (141, 50)
Shape before dropping outliers (141, 50)
Shape after dropping outliers (141, 50)
Shape before dropping outliers (141, 50)
Shape after dropping outliers (141, 50)

In [36]:
# Impute the outliers using IQR
X_ohe_clean = X_ohe.copy()
for col in X_ohe_clean.columns:
    q1,q3 = X_ohe_clean[col].quantile([0.25,0.75])
    IQR = q3 - q1
    min_valid_val = q1 - 1.5*IQR
    max_valid_val = q3 + 1.5*IQR
    
    X_ohe_clean.loc[ ( X_ohe_clean[col] > max_valid_val ) , col ] = max_valid_val
    X_ohe_clean.loc[ ( X_ohe_clean[col] < min_valid_val ) , col ] = min_valid_val

X_ohe_clean.max()>max_valid_val
X_ohe_clean.min()<min_valid_val

Age                                  False
BusinessTravel                       False
DailyRate                            False
DistanceFromHome                     False
Education                            False
EmployeeNumber                       False
EnvironmentSatisfaction              False
HourlyRate                           False
JobInvolvement                       False
JobLevel                             False
JobSatisfaction                      False
MonthlyIncome                        False
MonthlyRate                          False
NumCompaniesWorked                   False
PercentSalaryHike                    False
PerformanceRating                    False
RelationshipSatisfaction             False
StockOptionLevel                     False
TotalWorkingYears                    False
TrainingTimesLastYear                False
WorkLifeBalance                      False
YearsAtCompany                       False
YearsInCurrentRole                   False
YearsSinceLastPromotion              False
YearsWithCurrManager                 False
Department_Human Resources           False
Department_Research & Development    False
Department_Sales                     False
EducationField_Human Resources       False
EducationField_Life Sciences         False
EducationField_Marketing             False
EducationField_Medical               False
EducationField_Other                 False
EducationField_Technical Degree      False
Gender_Female                        False
Gender_Male                          False
JobRole_Healthcare Representative    False
JobRole_Human Resources              False
JobRole_Laboratory Technician        False
JobRole_Manager                      False
JobRole_Manufacturing Director       False
JobRole_Research Director            False
JobRole_Research Scientist           False
JobRole_Sales Executive              False
JobRole_Sales Representative         False
MaritalStatus_Divorced               False
MaritalStatus_Married                False
MaritalStatus_Single                 False
OverTime_No                          False
OverTime_Yes                         False
dtype: bool

In [37]:
X_ohe_clean.shape

(1470, 50)